
.content-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 15px 10px;
  @media screen and (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }

  & .header-input-wrap {
    padding: 10px 0 ;
    display: grid;
    margin-right: 30px;
    align-items: center;

    input {
      max-width: 250px;
      padding: 6px 10px;
    }
  }


  /* btn colors*/
  .icon-color-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max-content,100px));

    & .icon-color {
      padding: 10px 25px;
      border-radius: 4px;
      color: #fff;
      font-weight: bold;
      text-align: center;
      margin: 3px;
      cursor: pointer;
      display: grid;
      align-items: center;

      &-default {
        background: $default;
        color: #000;
      }

      &-red {
        background: $red;
      }

      &-blue {
        background: $blue;
      }

      &-green {
        background: $green;
      }

      &-orange {
        background: $orange;
      }
    }
  }

}

/* dinamic change colors*/
.ch-icon-color {
  &-red .icons-items-wrap svg > path {
    fill: $red !important;
  }
  &-blue  .icons-items-wrap svg > path {
    fill: $blue !important;
  }
  &-green .icons-items-wrap svg > path {
    fill: $green !important;
  }
  &-orange  .icons-items-wrap svg > path {
    fill: $orange !important;
  }
  &-default .icons-items-wrap svg > path {
    fill: $default !important;
  }

}

.icon-container {
  padding: 10px;
  margin-bottom: 30px;
  & .icon-group {
    margin: 15px 0;
    width: 100%;
    justify-items: start;
    display: grid;
  }
  & .icon-title {
    margin: 10px;
    font-weight: bold;
    font-size: 1.3em;
  }

  & .icons-items-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    @media screen and (max-width: 770px) {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
  }
  & .icon-item {
    align-items: center;
    display: grid;
    margin: 10px;
    grid-template-columns: max-content 1fr;
    & :first-child {
      margin-right: 5px;
    }
  }
}

/*accordion*/
app-accordion {
  width: 100%;
  .accordion-arrow {
    fill: #0079ff;
    cursor: pointer;
  }
}

.noIcondata-text {
    margin: 10px;
    text-align: center;
}
