<div><h2>Icons Search</h2></div>
<div class="content-header">

<div class="header-input-wrap">
  <input placeholder="search by icon name" (input) = "searchIcons($event)"/>
</div>

<div class="icon-color-wrap">

  <div (click)="changeIconColor(item)" class="icon-color icon-color-{{item.class}}" *ngFor="let item of iconColorList">{{item.text}}</div>
</div>
</div>

<div #dataIconRoot class='icon-container' *ngIf="!noIconData">
  <div  class="icon-group" [ngClass]="iconColorClass"  *ngFor = "let item of iconData">
    <app-accordion   *ngIf ='!item.noData' displayType="grid" [show] ='item.show' (toggle)="item.show = !item.show"
                   title = "Size {{item.size}}"  >
      <div   class = 'icons-items-wrap'>
        <div class="icon-item" *ngFor="let icons of item.icons; trackBy:trackByIndex">
          <span [innerHTML]="icons.item | safeHtml" ></span>
          <span class="">{{icons.name}}</span>
        </div>
      </div>
    </app-accordion>
  </div>
</div>

<div class='noIcondata-text' *ngIf="noIconData"> Нет данных по запросу
</div>

