<p  class="icon-title">{{title}} <span class='accordion-arrow' (click) = 'initToggle()'><svg [@accordion]= 'arrowState' xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M8 11l5-4.7L11.6 5 8 8.4 4.4 5 3 6.3z"/></svg></span></p>
<div [style.display] = "displayType" [@accordion]= 'state'>
  <ng-content></ng-content>
</div>
